<header>
    <div class="head">
        <a href="#home"><h1 class="logo">RX</h1></a>
        <div class="h-links">
            <div>
            <a id="links" class="links" href="/#home">home</a>
            <a id="links" class="links" href="/#aboutme">about me</a>
            <a id="links" class="links" href="/#skillsets">skillsets</a>
            <a id="links" class="links" href="/#projects">projects</a>
            <a id="links" class="links" href="/#contact">contact</a>
            <a id="links" class="links" href="/blog">blog</a>
            </div>
            <div class="sun-moon" id="sun-moon" onclick="mode()">
                    <img src="img/sun.svg" id="mode" alt="sun">
            </div>
        </div>
    </div>
</header>