<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <%- include('includes/plugs'); %>
    <style>
        body{
            text-align: center;
            width: 100vw;
            height: 100vh;
        }
        img{
            width: 30%;
        }
        h3{
            color: #f8f8f8;
        }
        a{
            color:#f8f8f8;
            background-color: #6D83F2;
            border-radius: 5px;
            padding: 5px 8px;
            text-decoration: none;
        }
        a:hover{
            opacity: 0.8;
        }
        @media only screen and (min-width: 300px) and (max-width: 680px) {
            img{
            width: 60%;
        }
        }
    </style>
</head>
<body>
    <img src="img/contactsoon.svg" alt="contact you soon">
    <h3>I will contact you soon...</h3>
    <a href="/">Go Back To Home</a>
</body>
</html>