.contact{
    text-align: center;
    margin-top: 100px;
}
.form{
    display: flex;
    align-items: center;
}
.thankyou{
    flex:35%;
    background-color: #6D83F2;
    border-radius: 10px 0 0 10px;
    padding: 30px 20px;
    color: #f8f8f8;
    box-shadow: 0px 1px 15px 1px rgba(35,35,35,0.3);
}
.mail{
    width: 150px; height: 150px;
    margin: 0;
}
.cform{
    flex:65%;
    padding: 20px;
    background-color: #232323;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 1px 15px 1px rgba(35,35,35,0.3);
}
.fullname,.email,.tel,.message{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border:3px solid #232323;
}
.message{
    height: 150px;
}
h6{
    margin: 5px 0;
    font-size: 14px;
}
h3{
    margin: 0 0 10px 0;
}
.msubmit{
    border: none;
    border-radius: 5px;
    background-color: #6D83F2;
    padding: 10px 20px;
    margin: 10px 10px 10px auto;
    color: #f8f8f8;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 15px 1px rgba(35,35,35,0.3);
}
.msubmit:hover{
    opacity: 0.8;
    cursor: pointer;
}
.send{
    width: 15px; height: 15px;
    margin-right: 10px;
}

@media only screen and (min-width: 680px) and (max-width: 1000px) {
    .form{
        display: block;
    }
    .thankyou{
        padding: 10px;
        background-color: #6D83F2;
        border-radius: 10px 10px 0 0 ;
        margin: 0 15%;
        box-shadow: 0px 1px 15px 1px rgba(35,35,35,0.3);
    }
    .mail{
        width: 80px; height: 80px;
    }
    .cform{
        margin: 0 8%;
    }
    .fullname,.email,.tel,.message{
        height: 25px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .message{
        height: 100px;
    }
    .msubmit{
        padding: 8px 15px;
        margin: 8px 8px 8px auto;
        font-size: 14px;
    }
    .send{
        width: 12px; height: 12px;
        margin-right: 8px;
    }
}

/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 680px) {
    .form{
        display: block;
    }
    .thankyou{
        padding: 10px;
        background-color: #6D83F2;
        border-radius: 10px 10px 0 0 ;
        margin: 0 15%;
        box-shadow: 0px 1px 15px 1px rgba(35,35,35,0.3);
    }
    h6{
        margin: 5px 0;
        font-size: 12px;
    }
    h3{
        margin: 0 0 8px 0;
    }
    .mail{
        width: 60px; height: 60px;
    }
    .cform{
        margin: 0 5%;
    }
    .fullname,.email,.tel,.message{
        height: 20px;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .message{
        height: 60px;
    }
    .msubmit{
        padding: 5px 10px;
        margin: 3px 3px 3px auto;
        font-size: 14px;
    }
    .send{
        width: 12px; height: 12px;
        margin-right: 8px;
    }
  }