/*header*/
header{
    position:fixed;
    z-index: 12;
    top:0; right: -5px;
    width: 100vw;
    background-color: #232323;
    box-shadow: 0px 3px 15px 0px rgba(35,35,35,0.3);
}
.head, .h-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head,.one,.two,.about,.motivation,.skills,.projects,.contact,.post{
    max-width: 1080px;
    margin: 0 auto;
}
.head{
    padding: 0 20px;
}
.logo{
    font-family: 'Rubik Moonrocks', cursive;
    color: #6D83F2;
}
.links{
    color: #ffffff;
    margin: 0 10px;
}

/*sun-moon*/
.sun-moon{
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    width: 60px;
    height: 20px;
    background-color: #303030;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

@media only screen and (min-width: 680px) and (max-width: 1000px) {
   /*header*/
header{
    top:0; right: 0px;
}
.head,.one,.two,.about,.motivation,.skills,.projects,.contact{
    max-width: 1080px;
    margin: 0 auto;
}
.head{
    padding: 0 40px;
}
}

/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 680px) {
    header{
        display: none;
    }
}
