@import url('variables.css');
@import url('./fonts/font.css');

.header{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    margin: 2vw 3vw;
    position: relative;
}

.gradient-text {
    /* background: linear-gradient(45deg, #ff5733, #ffbd33, #33ff57, #3388ff); */
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--prim); /* Fallback for Firefox */
}

.logo-text{
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    position: absolute;
    left: 0;
    top: 0.2vw;
}

.menus{
    border: 0.15vw solid var(--srim);
    border-radius: 1vw;
    padding: 0.3vw;
    margin: 0 auto;
    width: fit-content;
}

.menu{
    padding: 0.2vw 1vw;
    color: var(--tprim);
    font-family: 'Roboto', sans-serif;
    font-size: 0.78vw;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.right-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 0.78vw;
    text-decoration: none;
    color: var(--tprim);
    position: absolute;
    right: 0;
    top: 0.6vw;
}

.active-menu{
    background-color: var(--srim);
    border-radius: 1vw;
}