/*section one*/
.one{
    min-height: 740px;
}
.follow{
    width: 25px; height: 25px;
    margin-right: 34px;
    color: #6D83F2;
}
.hello{
    font-size: 18px;
    margin: 0;
}
.name{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.dev{
    font-size: 20px;
    margin: 0;
}
/* .name-area{
} */
.resume{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    margin: 20px 0;
    color:#f8f8f8;
    background-color: #6D83F2;
    transition: 0.2s;
}
/* .code-area{
} */
/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 680px) {
    /*section one*/
.one{
    min-height: 100vh;
    text-align: center;
}
.follow{
    margin: 17px;
}
.hello{
    font-size: 16px;
    font-weight: 400;
}
.name{
    margin: 5px 0 0 0 ;
    font-size: 35px;
    font-weight: 800;
}
.dev{
    font-size: 16px;
    margin: 0;
    font-weight: 100;
}
.name-area{
    margin: 0 auto;
}
.code-area{
    display: none;
}
.resume{
    padding: 8px 16px;
    font-size: 14px;
    margin: 30px 0 20px;
}   
}