.skills{
    text-align: center;
    margin: 100px auto 0;
}
.skill{
    display: flex;
}
.skillset{
    width: 100px;
    margin: 150px auto;
}

@media only screen and (min-width: 680px) and (max-width: 1000px) {
    .skill{
        margin: 0 40px;
    }
    .skillset{
        width: 80px;
    }
}

/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 680px) {
    .skill{
        margin: 0 20px;
    }
    .skillset{
        width: 60px;
        margin: 100px auto;
    }   
  }