<span id="contact"></span>
<section class="contact light">
    <h2 class="hsub">Get In Touch</h2>
    <div class="form">
        <div class="thankyou">
            <img src="img/contactw.svg" alt="contact" class="mail">
            <h3>Thank You</h3>
            <h6>Do You Have Any Queries?</h6>
            <h6>I’m currently available for freelance work. If you have a project that you want to get started, think you need my help with something then Contact me.</h6>
        </div>
        <div class="cform">
            <form class="get" action="contact" method="post">
                <div><label for="fullname">Fullname</label><br><input type="text" class="fullname" name="fullname" placeholder="Fullname" required/></div>
                <div><label for="email">Email</label><br><input type="email" class="email" name="email" placeholder="Raxmice@email.com" required/></div>
                <div><label for="contact">Contact</label><br><input type="tel" class="tel" name="tel" placeholder="+91 - 978 125 4321"/></div>
                <div><label for="message">Message</label><br><textarea class="message" name="message" rows="4" cols="50" placeholder="Type Here..." required></textarea>
                <div><button class="msubmit" type="submit" name="msubmit" class="msubmit"><img class="send" src="img/send.svg" alt="send">Submit</button></div>       
            </form>
        </div>
    </div>
</section>
