<div class="navbtn">
    <div class="menus">
        <div class="navlink"><a class="nl" href="#home" >home</a></div>
        <div class="navlink"><a class="nl" href="#aboutme" >about me</a></div>
        <div class="navlink"><a class="nl" href="#skillsets" >skillsets</a></div>
        <div class="navlink"><a class="nl" href="#projects" >projects</a></div>
        <div class="navlink"><a class="nl" href="#contact" >contact</a></div>
        <img src="img/sun.svg" class="navmode navlink" id="mode" alt="sun" onclick="mode()">
    </div>
    <img src="img/menu.svg" alt="menu" class="navmenu" onclick="menu()">
</div>