<span id="aboutme"></span>
<section class="about light">
    <h2 class="hsub">About me</h2>
    <div class="aboutme">
        <div class="propic space-around">
            <img src="https://avatars.githubusercontent.com/u/93811296?v=4" alt="sangam nayak" class="profile">
        </div>
        <div class="lines space-around">
            <div class="aml">
            <p>Hi, I'm Sangam Nayak, a Self-taught passionate fullstack developer. I am learning for fullstack from  dec-2021. I've made 12+ projects and one live project (<a class="l-link" href="http://artransport.site" target="_black">ARtransport.site</a>).</p>
            <p>Oh yes, I'm not a pro, I'm still learning, and this portfolio is also part of my learning process.</p>
            <p>I'm currenty available for freelance work. If you have a project that you want to get started, think you need my help with something then contact me.</p>
        </div>
        </div>
    </div>
</section>