<section class="one space-between" id="home">
    <div class="name-area light">
        <h4 class="hello">Hello, I'm</h3>
        <h1 class="name">SANGAM NAYAK</h1>
        <h3 class="dev">CREATIVE FULLSTACK WEB DEVLOPER</h3>
        <a href="https://drive.google.com/uc?export=download&id=1ad-NLABPnkzuy1DkG8u_9eMyK-2tncyN"><button class="resume">Download Resume</button></a>
        <div class="follow-codes">
            <a href="https://github.com/raxmice"><img src="img/github.svg" alt="github" class="linkedin follow"></a>
            <a href="www.linkedin.com/in/sangam-nayak"><img src="img/linkedin.svg" alt="linkedin" class="telegram follow"></a>
            <a href="https://t.me/joinchat/AAAAAEcCHCQ3gk2C8fXEvg"><img src="img/telegram.svg" alt="telegram" class="twitter follow"></a>
        </div>
    </div>
    <div class="code-area">
        <div class="code">
            
        </div>
    </div>
</section>