<span id="skillsets"></span>
<section class="skills light">
    <h2 class="hsub">My Skillsets</h2>
    <div class="skill">
        <img src="img/html.svg" alt="html" class="html skillset space-around">
        <img src="img/nodejs.svg" alt="nodejs" class="nodejs skillset space-around">
        <img src="img/mongodb.svg" alt="mongodb" class="mongodb skillset space-around">
    </div>
</section>