<div class="skillbox">
    <div class="skillsb"><P class="s css">CSS</P>
                        <p class="s js">JavaScript</p>
                        <p class="s jq">Jquery</p></div>
    <div class="skillsb"><p class="s bt">Bootstrap</p>
                        <p class="s rj">ReactJS</p>
                        <p class="s fb">Firebase</p></div>
    <div class="skillsb"><p class="s sql">SQL</p>
                        <p class="s wp">WordPress</p>
                        <p class="s xd">Adobe XD</p></div>
</div>