.headmargin{
    margin-top: 70px;
}
.blogs{
    display: flex;
}
.blog{
    flex:70%;
}
.tags{
    flex:30%;
}
.dt{
    display: flex;
    align-items: center;
    margin: 0;
}
.time{
    margin-left: 20px;
}
.pupdate{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.read-more{
    color: #6D83F2;
}
.blog-card{
    border-radius: 10px;
    background-color: #232323;
    padding: 20px 30px;
    margin-top: 20px;
    box-shadow: 0px 3px 15px 0px rgba(35,35,35,0.3);
}
.blog-card h4{
    margin: 0;
    font-size: 12px;
}
.blog-card p{
    margin: 0 0 10px 0;
}
.blog-card h1{
    margin: 5px 0 0 0;
}
.tag{
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid #6D83F2;
    color: #6D83F2;
    font-weight: bold;
    font-size: 10px;
}

@media only screen and (min-width: 680px) and (max-width: 1000px) {

}

@media only screen and (min-width: 300px) and (max-width: 680px) {
    .blogs{
        display: block;
        margin: 5%;
    }
}
